# Xcode and macOS
.DS_Store
build/
DerivedData/
*.xcuserstate
*.xcworkspace/
xcuserdata/

# Swift Package Manager
.build/

# RealityKit assets to ignore
shell-full.usdz
sky.exr
*.usdz
*.exr

# Temporary and log files
*.log
*.tmp
*.swp

# User-specific files
.idea/
.vscode/
